url = "/catalog/:id"
layout = "default"
title = "Новостройка"
meta_title = ""
meta_description = ""

[viewBag]
sitemapActive = 1
sitemapPriority = 1.0
sitemapChangefreq = "daily"
==
<?php
	use Piggy\Catalog\Models\Build;
	use Piggy\Catalog\Models\Appart;

	function onStart() {
		$currentId = $this->param('id');
		$currentBuild = Build::all()->where('active', true)->where('id', $currentId)->first();
		$this['currentBuild'] = $currentBuild;

		if ($currentBuild) {
			$this->page->title = $currentBuild->title;
			$this->page->meta_title = $currentBuild->meta_title;
			$this->page->meta_description = $currentBuild->meta_description;
			$this->page->meta_robots = $currentBuild->meta_robots;
			$this->page->meta_keywords = $currentBuild->meta_keywords;
		}

		$currentApparts = Appart::all()->where('active', true)->where('build_id', '==', $currentId);
		$this['currentApparts'] = $currentApparts;

		if (!$currentBuild) {
			return $this->controller->run('404');
		}
	}
?>
==
{% put breads %}
<li>
	<a href="{{ url('/') }}/catalog">Каталог</a>
</li>
{% endput %}
<section>
	<div class="container">
		<div class="sDoubleTitle">
			<div class="sDoubleTitle__title">
				<h1 class="sTitle"><span>{{ currentBuild.title }}</span></h1>
			</div>
			<div class="sDoubleTitle__action">
				<a href="/catalog" class="sButton">К новостройкам</a>
			</div>
		</div>
		<div class="sViews" data-styles="build">
			{% for item in currentBuild.gallery %}
			<picture data-fancybox="buildGallery" data-src="{{ item.path }}" class="imageArea">
				<source srcset="{{ item.thumbUrl(900, auto, { mode: 'exact', quality: 100, extension: 'webp' }) }}" type="image/webp">
				<img src="{{ item.thumbUrl(900, auto, { mode: 'exact', quality: 100, extension: 'jpg' }) }}" alt="Изображение {{ currentBuild.title }}" loading="lazy">
			</picture>
			{% endfor %}
		</div>
		<div class="sCard">
			<div class="sCard__left">
				{% if currentBuild.subtitle %}
				<h2 class="sTitle" data-styles="fz3 "><span>{{ currentBuild.subtitle|replace({'{{':'<mark>','}}':'</mark>'})|raw }}</span></h2>
				{% endif %}
				{% if currentBuild.short %}
				<p class="sSubtitle" data-styles="">{{ currentBuild.short }}</p>
				{% endif %}
			</div>
			<div class="sCard__right">
				{% if currentBuild.address %}
				<span class="sCard__right-loc">{{ currentBuild.address }}</span>
				{% endif %}
				{% if currentApparts|length %}
				{% set minPrice = 99999999999 %}
				{% set minArea = 1 %}
				{% for item in currentApparts %}
				{% if item.price < minPrice %}{% set minPrice = item.price %}{% set minArea = item.param_area %}{% endif%}
				{% endfor %}
				<p class="sCard__right-price"><span class="sPrice" data-fx-currency>{{ minPrice }}</span></p>
				<p class="sCard__right-price thisM2"><span class="sPrice" data-styles="fzs" data-fx-currency>{{ minPrice / minArea }}</span> за м²</p>
				{% endif %}
				<div class="sManager">
					<div class="sManager__face imageArea">
						<img src="{{ 'assets/img/manager.png'|theme }}" alt="">
					</div>
					<div class="sManager__content">
						<span class="sManager__content-name">Эльдар</span>
						<span class="sManager__content-who">Эксперт по недвижимости</span>
						<a href="tel:+7 (495) 085-37-77" class="sManager__content-tel">+7 (495) 085-37-77</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section data-styles="separator">
	<div class="container">
		<div class="sDoubleTitle">
			<div class="sDoubleTitle__title">
				<h2 class="sTitle" data-styles="fz3"><span>Наш выбор в <mark>{{ currentBuild.title}}</mark></span></h2>
				<p class="sSubtitle" data-styles="full">Вы можете выбрать как уютную студию, там и просторные апартамента с 1-4 спальнями. Для особых ценителей роскоши представлены пентхаусы на высоте птичьего полета.</p>
			</div>
		</div>
		<div class="sCatalog" data-styles="mainy" data-fx-upload data-fx-upload-type="semiauto" data-fx-upload-start="5" data-fx-upload-step="4">
			{% for item in currentApparts %}
			<a href="/catalog/{{ item.id }}" class="sCatalog__item" data-fx-clone="10" data-fx-upload-item>
				<picture class="imageArea">
					<source srcset="{{ item.gallery[0].thumbUrl(900, auto, { mode: 'exact', quality: 100, extension: 'webp' }) }}" type="image/webp">
					<img src="{{ item.gallery[0].thumbUrl(900, auto, { mode: 'exact', quality: 100, extension: 'jpg' }) }}" loading="lazy" alt="{{ item.title }}">
				</picture>
				<div class="sCatalog__item-content">
					<h2 class="sTitle" data-styles="cb fzs">{{ item.title }}</h2>
					<ul class="sParams">
						<li class="sParams__item thisArea">{{ item.param_area }}</li>
						<li class="sParams__item thisBed">{{ item.param_bed }}</li>
						<li class="sParams__item thisLoc">{{ item.param_loc }}</li>
					</ul>
					<p class="sCatalog__item-description">{{ item.short }}</p>
					<div class="sCatalog__item-bottom">
						<span class="sPrice" data-styles="fz3" data-fx-currency>{{ item.price }}</span>
					</div>
				</div>
			</a>
			{% endfor %}
			<button data-fx-upload-more class="sButton">Показать все</button>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="sDoubleTitle">
			<div class="sDoubleTitle__title">
				<h2 class="sTitle" data-styles="fz3"><span>О проекте</span></h2>
				<p class="sSubtitle" data-styles="full">На 150-тиметровом частном пляже вы найдете развлечения на любой вкус — теплая морская вода, водные виды спорта, шезлонги для принятия солнечных ванн. Проводите регулярные тренировки в тренажерном зале комплекса. После занятий спортом поддержите здоровье и красоту вашего тела в оздоровительном спа-салоне, сауне или хамаме. В ресторанах на территории Five Palm Jumeirah жители пробуют блюда кухонь разных стран в компании семьи и друзей. Резиденты плавают в 60-тиметровом infinity-бассейне и любуются на сверкающие на солнце небоскребы. Маленькие жители проводят время с друзьями на игровых площадках и в детском клубе.</p>
			</div>
		</div>
		<div class="sViews" data-styles="flex">
			{% for item in currentBuild.gallery %}
			<picture data-fancybox="aboutGallery" data-src="{{ item.path }}" data-fx-clone="2" class="imageArea">
				<source srcset="{{ item.thumbUrl(900, auto, { mode: 'exact', quality: 100, extension: 'webp' }) }}" type="image/webp">
				<img src="{{ item.thumbUrl(900, auto, { mode: 'exact', quality: 100, extension: 'jpg' }) }}" alt="Изображение {{ currentBuild.title }}" loading="lazy">
			</picture>
			{% endfor %}
		</div>
	</div>
</section>
<section data-styles="np">
	<div class="container full np">
		<div id="yandexmap"></div>
	</div>
</section>
{# Места #}
<section data-styles="overflow">
	<div class="container">
		<div class="sDoubleTitle">
			<div class="sDoubleTitle__title">
				<h2 class="sTitle" data-styles="fz3"><span>Места</span></h2>
				<p class="sSubtitle" data-styles="full">На 150-тиметровом частном пляже вы найдете развлечения на любой вкус — теплая морская вода, водные виды спорта, шезлонги для принятия солнечных ванн. Проводите регулярные тренировки в тренажерном зале комплекса. После занятий спортом поддержите здоровье и красоту вашего тела в оздоровительном спа-салоне, сауне или хамаме. В ресторанах на территории Five Palm Jumeirah жители пробуют блюда кухонь разных стран в компании семьи и друзей. Резиденты плавают в 60-тиметровом infinity-бассейне и любуются на сверкающие на солнце небоскребы. Маленькие жители проводят время с друзьями на игровых площадках и в детском клубе.</p>
			</div>
		</div>
		<div class="sTopSwiper swiper">
			<div class="swiper-wrapper">
				{% for item in configContent.gallery.list %}
				<div class="sTopSwiper__item swiper-slide">
					<div class="sTopSwiper__image imageArea">
						<img src="{{ item.image.path }}" alt="">
					</div>
					<div class="sTopSwiper__content">
						<div class="sTitle" data-styles="fzs"><span>Аквапарк <br><mark>Aquarello</mark></span></div>
						<div class="sTopSwiper__content-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam distinctio molestias quod sit repellendus cumque libero voluptas officiis doloremque eos delectus dolor omnis illo adipisci, voluptates quos architecto reiciendis fugiat.</div>
						<div class="sArrows">
							<button class="sArrows__item prev sHotelsPrev"></button>
							<button class="sArrows__item next sHotelsNext"></button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<section data-styles="overflow">
	<div class="container">
		<div class="sCallback">
			<form action="#" class="sCallback__form">
				<h2 class="sTitle" data-styles="fz1"><span>Полный каталог новостроек на <mark>Palm Jumeirah</mark> для жизни и инвестирования</span></h2>
				<div class="sCallback__form-body">
					<input type="text" placeholder="Ваше имя">
					<input type="tel" placeholder="Номер телефона">
					<button type="submit" class="sButton">Получить каталог</button>
				</div>
				<p class="sCallback__form-rules">Отправляя данную форму вы соглашаетесь с политикой конфиденциальности</p>
			</form>
			<div class="sCallback__image">
				<img src="{{ '/assets/img/book.png'|theme }}" alt="">
			</div>
		</div>
	</div>
</section>
{% if buildsList|length %}
<section data-styles="overflow">
	<div class="container">
		<div class="sDoubleTitle">
			<div class="sDoubleTitle__title">
				<h2 class="sTitle"><span>Новостройки поблизости</span></h2>
				<p class="sSubtitle">Найдите недвижимость на побережье Персидского залива на знаменитой Пальме Джумейра для комфортной и островной жизни или возможностей для инвестиций.</p>
			</div>
			<div class="sDoubleTitle__action">
				<div class="sArrows">
					<button class="sArrows__item prev sHotelsPrev"></button>
					<button class="sArrows__item next sHotelsNext"></button>
				</div>
			</div>
		</div>
		<div class="sHotels swiper">
			<div class="swiper-wrapper">
				{% for item in buildsList %}
				<a href="#" class="sHotels__item swiper-slide">
					<picture class="imageArea">
						<img src="{{ item.gallery[0].path }}" alt="{{ item.title }}">
					</picture>
					<div class="sHotels__item-content">
						<h3 class="sTitle" data-styles="cb fz2">{{ item.title }}</h3>
						<p class="sHotels__item-description">{{ item.short }}</p>
						<span class="sPrice" data-fx-currency>11500</span>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endif %}
{% if buildsListNew|length %}
<section>
	<div class="container">
		<div class="sDoubleTitle">
			<div class="sDoubleTitle__title">
				<h2 class="sTitle" data-styles="capt"><mark>30</mark> <span>новых небоскребов <br>в <mark>Palm Jumeira</mark></span></h2>
			</div>
			<div class="sDoubleTitle__action">
				<a href="#" class="sButton">Посмотреть все</a>
			</div>
		</div>
		<div class="sTowers">
			{% for item in buildsListNew %}
			<a href="#" class="sTowers__item">
				<picture class="imageArea">
					<img src="{{ item.gallery[0].path }}" alt="{{ item.title }}">
				</picture>
				<div class="sTowers__item-content">
					<h3 class="sTitle" data-styles="cb fzs">{{ item.title }}</h3>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
<section data-styles="overflow bggradien1 mp">
	<div class="container">
		<div class="sCallback thisBlue">
			<form action="#" class="sCallback__form">
				<h2 class="sTitle" data-styles="fz1"><span>Наша команда поможет вам выбрать подходящее жилье на <mark>Palm Jumeira</mark></span></h2>
				<div class="sCallback__form-body">
					<input type="text" placeholder="Ваше имя">
					<input type="tel" placeholder="Номер телефона">
					<button type="submit" class="sButton">Написать</button>
				</div>
				<p class="sCallback__form-rules">Отправляя данную форму вы соглашаетесь с политикой конфиденциальности</p>
			</form>
			<div class="sCallback__image">
				<img src="{{ '/assets/img/face.png'|theme }}" alt="">
			</div>
		</div>
		{% if configContent.about.text %}
		<div class="sAbout">
			<h2 class="sTitle" data-styles="fz2"><span>{{ configContent.about.title }}</span></h2>
			<div class="sAbout__text thisShort">
				{{ configContent.about.text|raw }}
			</div>
			<button class="sAbout__more">Показать полностью</button>
		</div>
		{% endif %}
	</div>
</section>