@media screen and (max-width: 1900px) {
}

@media screen and (max-width: 1850px) {
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1750px) {
}

@media screen and (max-width: 1700px) {
	.sMap {
		.container {
			padding-left: 60px;
			padding-bottom: 60px;
			&::before {
				box-shadow: 0 0 250px 250px #01395d;
			}
		}
		&__caption {
			&-title {
				font-size: 3rem;
			}
			&-city {
				margin-top: 32px;
			}
		}
	}
}

@media screen and (max-width: 1650px) {
}

@media screen and (max-width: 1600px) {
	main {
		padding-top: 100px;
	}
}

@media screen and (max-width: 1550px) {
}

@media screen and (max-width: 1500px) {
	.sHeader {
		&__nav {
			display: none;
		}
	}
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 1200px) {
	.sDoubleTitle {
		&[data-styles*='spectext'] {
			display: flex;
			flex-direction: column;
			align-items: center;

			.sDoubleTitle__title {
				width: 100%;
			}
			.sDoubleTitle__action {
				margin-left: 0;
				margin-top: 16px;
			}
		}
	}
	.sCallback {
		&__form-body {
			width: 100%;
			grid-template-columns: 1fr;
		}
	}
	.sMap {
		.container {
			padding-left: 30px;
			padding-bottom: 30px;
			&::before {
				box-shadow: 0 0 250px 250px #01395d;
			}
		}
		&__caption {
			&-title {
				font-size: 3rem;
			}
			&-city {
				margin-top: 16px;
				padding-right: 24px;
				font-size: 2.2rem;
				&::before {
					margin-right: 16px;
					width: 42px;
					height: 42px;
				}
			}
		}
	}
	.sMap .container::before {
		left: 0;
		bottom: 0;
	}
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1000px) {
	.sCatalog[data-styles*='mainy'] {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 660px;
		grid-template-columns: 1fr;
		grid-template-areas: 'n1' '.' !important;

		.sCatalog__item:first-child {
			height: 520px;

			.sTitle {
				align-self: flex-start !important;
				text-align: left !important;
				align-items: flex-start;
			}
		}
		.sCatalog__item {
			.sTitle {
				align-self: flex-start !important;
				text-align: left !important;
				align-items: flex-start;
			}
		}
	}
	.sImageGrid {
		&__item {
			width: calc(50% - 8px) !important;
		}
	}
	.sMap {
		.container {
			padding-left: 30px;
			padding-bottom: 30px;
			&::before {
				box-shadow: 0 0 250px 250px #01395d;
			}
		}
		&__caption {
			&-title {
				font-size: 2.6rem;
			}
			&-city {
				margin-top: 16px;
				padding-right: 24px;
				font-size: 2rem;
				&::before {
					margin-right: 16px;
					width: 42px;
					height: 42px;
				}
			}
		}
	}
	.sTitle {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 3.2rem;

		&[data-styles*='capt'] {
			mark {
				&:first-child {
					font-size: 6rem;
					line-height: 1.3;
				}
			}
		}
		&[data-styles*='fz1'] {
			font-size: 2.8rem;
		}
		&[data-styles*='fz2'] {
			font-size: 2.4rem;
		}
		&[data-styles*='fz3'] {
			font-size: 2rem;
		}
		&[data-styles*='fzs'] {
			font-size: 1.8rem;
		}

		br {
			display: none !important;
		}
		* {
			margin-right: 0;
			text-align: center;
		}
	}
	.sApparts__item:first-child .sTitle {
		font-size: 3.2rem;
	}

	.sDoubleTitle {
		display: flex;
		flex-direction: column;
		&__title {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			> * {
				text-align: center;
			}
		}
		&__action {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		> * + * {
			margin-top: 24px;
		}
	}
	.sTitle {
		mark {
			margin-right: 0 !important;
		}
		&[data-styles*='spansmall'] {
			span {
				white-space: wrap !important;
				br {
					display: none !important;
				}
			}
		}
	}
	.sTowers {
		display: grid;
		grid-template-columns: 1fr 1fr !important;

		&__item {
			width: 100% !important;
		}
	}
	.sApparts {
		grid-template-columns: 1fr;
		grid-template-areas:
			'first'
			'.';
		justify-items: center;

		&__item {
			width: 100%;
			height: 320px;

			&-description {
				color: $cb;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		&__item:first-child {
			height: 520px;
			.sApparts__item-description {
				color: $cw;
			}
		}
		&.thisCol {
			.sTitle {
				text-align: left;
			}
		}
	}
	.sCallback {
		overflow: hidden;
		&__form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.sTitle {
				text-align: center;

				span {
					text-align: center;
				}
			}
			&-body {
				width: 100%;
				max-width: 660px;
			}
		}
		&__image {
			opacity: 0.35;
		}
		&.thisBlue &__form {
			width: 100%;
		}
		&.thisBlue &__image {
			display: none;
		}
	}
	.sFooter {
		&__block:nth-child(3) {
			grid-area: num3;
		}
	}
	.sFooter .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 32px 40px;
		grid-template-areas: '. num3';
		> * + * {
			margin-left: 0;
		}
	}
	.sHeader {
		&__button.thisOrange {
			display: none;
		}
	}
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 900px) {
	.sMap {
		.container {
			padding-left: 30px;
			padding-bottom: 30px;
			&::before {
				box-shadow: 0 0 150px 150px #01395d;
			}
		}
		&__caption {
			&-title {
				font-size: 2.6rem;
			}
			&-city {
				margin-top: 16px;
				padding-right: 24px;
				font-size: 2rem;
				display: none;
				&::before {
					margin-right: 16px;
					width: 42px;
					height: 42px;
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.sGallery {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			'first first first'
			'. . last';

		&__item:not(:first-child) {
			position: relative;
			height: auto;
			padding-bottom: 100%;

			.imageArea {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.sFeatures {
		grid-template-columns: 1fr 1fr;
	}
	.sReviews__item {
		flex-direction: column;
		align-items: center;

		> * + * {
			margin-left: 0;
			margin-top: 24px;
		}
		&-content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.sTopSwiper__content .sArrows {
		margin-left: auto;
	}
	.sTopSwiper__content {
		flex-wrap: wrap;

		&-text {
			order: 99;
			width: 100%;
			margin-top: 16px;
		}
	}
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 750px) {
	.sLogo span {
		display: none;
	}
	.sImageGrid {
		&__item {
			width: 100% !important;
			&:nth-child(3n) ~ & {
				display: none !important;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.sTowers {
		grid-template-columns: 1fr !important;
	}
	.sTitle {
		font-size: 2.8rem;

		&[data-styles*='capt'] {
			mark {
				&:first-child {
					font-size: 5rem;
					line-height: 1.3;
				}
			}
		}
		&[data-styles*='fz1'] {
			font-size: 2.4rem;
		}
		&[data-styles*='fz2'] {
			font-size: 2.1rem;
		}
		&[data-styles*='fz3'] {
			font-size: 1.8rem;
		}
	}
	.sApparts__item:first-child .sTitle {
		font-size: 2.8rem;
	}
	.sSubtitle {
		font-size: 1.4rem;
	}
	main {
		overflow: hidden;
	}
	.sMap {
		height: 50vh;
		overflow-x: scroll;

		.container {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding-left: 30px;
			padding-bottom: 30px;

			&::before {
				box-shadow: 0 0 150px 150px #01395d;
			}
		}

		&__wrap {
			width: calc(50vh * 1.99);
			height: 50vh;
			overflow-x: hidden;
		}
		&__caption {
			&-title {
				font-size: 2.6rem;
			}
			&-city {
				margin-top: 16px;
				padding-right: 24px;
				font-size: 2rem;
				display: none;
				&::before {
					margin-right: 16px;
					width: 42px;
					height: 42px;
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
	.sTopSwiper__image {
		height: 320px;
	}
	.sTopSwiper__content {
		flex-direction: column;
		align-items: center;
	}
	.sTopSwiper__content .sTitle {
		text-align: center;
		align-self: center;
		margin-right: 0;
	}
	.sTopSwiper__content .sArrows {
		margin-top: 16px;
		margin-left: auto;
		margin-right: auto;
	}
	.sTopSwiper__content {
		flex-wrap: wrap;

		&-text {
			order: 99;
			width: 100%;
			margin-top: 16px;
		}
	}
	.sTitle[data-styles*='spansmall'] span {
		font-size: 1.5rem !important;
	}
	.sHeader__button {
		display: none;
	}
	.sHotels__item {
		width: 90% !important;
	}
	.sPlaces__item {
		width: 90% !important;
	}
	.sReviews__item .imageArea {
		width: 220px;
		min-width: 220px;
		height: 220px;
		min-height: 220px;
	}
	.sApparts {
		display: flex !important;
		flex-direction: column !important;

		&__item {
			height: 400px !important;

			.imageArea {
				z-index: 1 !important;
				position: absolute !important;
				left: 0 !important;
				top: 0 !important;
				width: 100% !important;
				height: 100% !important;
			}
			.sTitle {
				margin-top: auto !important;
				color: $cw !important;
				font-size: 2.8rem !important;
			}
			.sPrice {
				color: $cw !important;
				font-size: 2.2rem !important;
				text-align: left !important;
				span {
					text-align: left !important;
				}

				&::before {
					color: $cw !important;
				}
			}
			.sParams {
				display: none !important;
			}

			.sApparts__item {
				&-content {
					z-index: 2 !important;
					position: absolute !important;
					width: 100% !important;
					height: 100% !important;
					left: 0 !important;
					top: auto !important;
					bottom: 0 !important;
					display: flex !important;
					flex-direction: column !important;
					justify-content: flex-end !important;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.5) 100%) !important;
				}
				&-description {
					display: none !important;
				}
				&-bottom {
					margin-top: 16px !important;
				}
			}
		}
		&.thisCol {
			.sApparts__item-bottom::before {
				display: none;
			}
			.sTitle {
				font-size: 1.8rem !important;
			}
			.sPrice {
				font-size: 1.8rem !important;
			}
		}
	}
	.sFooter__block {
		width: 100%;
	}
	.sFooter .container {
		grid-template-columns: 1fr;
		grid-template-areas: '.' 'num3';
	}
}

@media screen and (max-width: 550px) {
	.sFeatures {
		grid-template-columns: 1fr;
	}
	.sCatalog[data-styles*='mainy'] {
		.sCatalog__item {
			height: 320px !important;
			position: relative;

			.imageArea {
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
			.sTitle {
				color: $cw;
			}
			.sCatalog__item-description {
				color: $cw;
			}
			.sPrice {
				color: $cw;
				&::before {
					color: $cw;
				}
			}
			.sParams {
				display: none;
			}
			.sCatalog__item-content {
				z-index: 2;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.5) 100%);

				> * + * {
					margin-top: 16px !important;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 450px) {
	.sReviews__item .imageArea {
		width: 170px;
		min-width: 170px;
		height: 170px;
		min-height: 170px;
	}
	.sCallback__form {
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 40px;
		padding-bottom: 24px;
	}
	.sApparts__item {
		height: 380px !important;
	}
	.sApparts__item .sTitle {
		font-size: 2.4rem !important;
		text-align: left !important;
	}
	.sTitle {
		font-size: 2.2rem;

		&[data-styles*='capt'] {
			mark {
				&:first-child {
					font-size: 4rem;
					line-height: 1.3;
				}
			}
		}
		&[data-styles*='fz1'] {
			font-size: 2.2rem;
		}
		&[data-styles*='fz2'] {
			font-size: 2rem;
		}
		&[data-styles*='fz3'] {
			font-size: 1.8rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.sContacts__worktime {
		display: none;
	}
}

@media screen and (max-width: 350px) {
}

@media screen and (max-width: 300px) {
}
