url = "/blog/:slug"
layout = "default"
title = "Публикация"
meta_title = "Публикация"
meta_description = "Публикация"

[viewBag]
sitemapActive = 1
sitemapPriority = 1.0
sitemapChangefreq = "daily"
==
<?php
	use Piggy\Blog\Models\Category;
	use Piggy\Blog\Models\Post;

	function onStart() {
		date_default_timezone_set('Europe/Moscow');
		
		$currentSlug = $this->param('slug');
		$currentPost = Post::query()->where('slug', $currentSlug)->where('active', true)->where('datetime', '<', now())->get()->first();
		if (!$currentPost) {
			return $this->controller->run('404');
		}
		$this['currentPost'] = $currentPost;

		$this->page->title = $currentPost->title;
		$this->page->meta_title = $currentPost->meta_title;
		$this->page->meta_description = $currentPost->meta_description;
		$this->page->meta_robots = $currentPost->meta_robots;
		$this->page->meta_keywords = $currentPost->meta_keywords;
	}
?>
==
{% put breads %}<li><a href="/blog">Блог</a></li>{% endput %}
<section>
	<div class="container">
		<div class="sBlogPage">
			<article class="sBlogPage__content" itemscope itemtype="https://schema.org/Article">
				<div class="sDoubleTitle">
					<div class="sDoubleTitle__title">
						<h1 class="sTitle" data-styles="fz3 left nomargin stroke" itemprop="name">{{ currentPost.title }}</h1>
						{% if currentPost.short_description %}
						<div class="sSubtitle" itemprop="description">{{ currentPost.short_description|raw }}</div>
						{% endif %}
					</div>
				</div>
				{% set structureIndex = 1 %}
				<div class="sStructure">
					<h3 class="sTitle" data-styles="fz4 left nomargin">Содержание статьи:</h3>
					{% placeholder structurePlaceholder %}
					{% for item in currentPost.structure %}
					{% if item.title %}
					<a href="/blog/{{currentPost.slug}}#structure{{structureIndex}}" class="sStructure__item"><span class="sStructure__item-number">{{ structureIndex }}.</span> {{ item.title }}</a>
					{% set structureIndex=structureIndex + 1 %}
					{% endif %}
					{% endfor %}
				</div>
				<div class="sTemplate" itemprop="articleBody">
					{% set structureIndex = 1 %}
					{% for item in currentPost.structure %}
					{% if item.title %}
					<h3 id="structure{{ structureIndex }}">{{ item.title }}</h3>
					{% set structureIndex=structureIndex + 1 %}
					{% endif %}
					{% if item.text %}
					{{ item.text|raw }}
					{% endif %}
					{% if item.gallery %}
					<div class="sTemplateGallery swiper" data-swiper="templategallery{{structureIndex}}">
						<div class="swiper-wrapper">
							{% for gal in item.gallery %}
							<div class="swiper-slide" data-fancybox="gallery{{structureIndex}}" data-src="{{ gal|media }}" data-caption="{{ currentPost.title }}">
								<img src="{{ gal|media }}" alt="{{ currentPost.title }}">
							</div>
							{% endfor %}
						</div>
					</div>
					{% if item.gallery|length > 1 %}
					<div class="sTemplateGalleryThumbs swiper" data-swiper="templategallery{{structureIndex}}">
						<div class="swiper-wrapper">
							{% for gal in item.gallery %}
							<div class="swiper-slide imageArea">
								<img src="{{ gal|media }}" alt="">
							</div>
							{% endfor %}
						</div>
					</div>
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>
				{% if currentPost.categories %}
				<div class="sTags">
					{% for item in currentPost.categories %}
					<a href="/blog?filter={{ item.slug }}" class="sTags__tag">{{ item.title }}</a>
					{% endfor %}
				</div>
				{% endif %}
				<div class="sBlogPage__details">
					<time class="sIcon" data-styles="icon-date" datetime="{{ post.datetime|date('Y-m-d H:i:s')}}" data-fx-time-format="DD MMMM YYYY"></time>
					<span class="sIcon" data-styles="icon-views">{{ currentPost.views }}</span>
				</div>
				<link itemprop="url" href="/blog/{{ currentPost.slug }}">
				<link itemprop="image" href="{{ currentPost.preview.path }}">
				<meta itemprop="headline" content="{{ currentPost.title }}">
				<meta itemprop="datePublished" content="{{ currentPost.datetime }}">
			</article>
			<aside class="sBlogAside">
				<h2 class="sTitle" data-styles="fz3 stroke left nomargin">Последние публикации</h2>
				<div class="sBlogAside__list">
					{% for item in postsLast %}
					<div class="sBlogAside__item">
						<a href="/blog/{{ item.slug }}" class="sBlogAside__item-title">{{ item.title }}</a>
						<div class="sBlogAside__item-description sTemplate">{{ item.short_description|striptags }}</div>
						<div class="sBlogAside__item-details">
							<time class="sIcon" data-styles="icon-date" datetime="{{ item.datetime|date('Y-m-d H:i:s')}}" data-fx-time-format="DD MMMM YYYY"></time>
							<span class="sIcon" data-styles="icon-views">{{ item.views }}</span>
						</div>
					</div>
					{% endfor %}
				</div>
			</aside>
		</div>
	</div>
</section>
<section data-styles="overflow">
	<div class="container">
		<div class="sCallback thisBlue">
			<form action="#" class="sCallback__form">
				<h2 class="sTitle" data-styles="fz1"><span>Наша команда поможет вам выбрать подходящее жилье на <mark>Palm Jumeira</mark></span></h2>
				<div class="sCallback__form-body">
					<input type="text" placeholder="Ваше имя">
					<input type="tel" placeholder="Номер телефона">
					<button type="submit" class="sButton">Написать</button>
				</div>
				<p class="sCallback__form-rules">Отправляя данную форму вы соглашаетесь с политикой конфиденциальности</p>
			</form>
			<div class="sCallback__image">
				<img src="{{ '/assets/img/face.png'|theme }}" alt="">
			</div>
		</div>
		{% if configContent.about.text %}
		<div class="sAbout">
			<h2 class="sTitle" data-styles="fz2"><span>{{ configContent.about.title }}</span></h2>
			<div class="sAbout__text thisShort">
				{{ configContent.about.text|raw }}
			</div>
			<button class="sAbout__more">Показать полностью</button>
		</div>
		{% endif %}
	</div>
</section>