@font-face {
	font-family: 'Hagrid';
	src: local('Hagrid Light'), local('Hagrid-Light'),
		 url('../fonts/Hagrid/Hagrid-Light.woff2') format('woff2'),
		 url('../fonts/Hagrid/Hagrid-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Hagrid';
	src: local('Hagrid Medium'), local('Hagrid-Medium'),
		 url('../fonts/Hagrid/Hagrid-Medium.woff2') format('woff2'),
		 url('../fonts/Hagrid/Hagrid-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Hagrid';
	src: local('Hagrid Bold'), local('Hagrid-Bold'),
		 url('../fonts/Hagrid/Hagrid-Bold.woff2') format('woff2'),
		 url('../fonts/Hagrid/Hagrid-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Hagrid';
	src: local('Hagrid Regular'), local('Hagrid-Regular'),
		 url('../fonts/Hagrid/Hagrid-Regular.woff2') format('woff2'),
		 url('../fonts/Hagrid/Hagrid-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}